.details {
  padding: 3rem;
  font-size: var(--fs-normal);
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  &__about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__title {
    font-size: var(--fs-large);
    color: var(--black);
  }
}
