.details__card {
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 8px;
  padding: 3rem 3rem;
  display: grid;
  row-gap: 3.5rem;
  grid-template-columns: auto 1fr auto;

  @include respond(phone) {
    grid-template-columns: 1fr;
    row-gap: 0;
    padding: 1.5rem;
  }

  &-title {
    color: var(--black);
    @include respond(phone) {
      grid-row: 1;
      padding-bottom: 1rem;
    }
  }

  &-pledge {
    grid-column: 3;
    color: var(--moderate-cyan);
    font-weight: var(--fw-bold);
    @include respond(phone) {
      grid-column: 1;
      grid-row: 2;
      padding-bottom: 2rem;
    }
  }

  &-text {
    grid-row: 2;
    grid-column: 1/-1;
    @include respond(phone) {
      grid-row: 3;
      padding-bottom: 2rem;
    }
  }

  &-quantity {
    grid-column: 1;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    &-left {
      font-size: var(--fs-heading-very-big);
      font-weight: var(--fw-bolder);
      color: var(--black);
    }

    @include respond(phone) {
      grid-row: 4;
      padding-bottom: 2rem;
    }
  }

  &-btn {
    grid-column: 3;
    @media (min-width: 56.25em) {
      cursor: pointer;
    }

    @include respond(phone) {
      grid-column: 1;
      grid-row: 5;
      justify-self: start;
    }
  }
}

.modal__card {
  display: grid;
  grid-template-columns: 2.5rem auto 2rem auto auto 1fr auto 2.5rem;
  grid-template-rows: 2.5rem auto 2rem auto 3rem 2px 1fr;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 8px;

  @include respond(phone) {
    grid-template-rows: 2.5rem auto 2rem auto 6rem 2px 1fr;
  }

  &-title {
    grid-row: 2;
    grid-column: 4;
    font-weight: var(--fw-bolder);
  }

  &-pledge-amount {
    padding-left: 2rem;
    grid-row: 2;
    grid-column: 5;
    font-weight: var(--fw-bolder);
    color: var(--moderate-cyan);

    @include respond(phone) {
      grid-row: 3;
      grid-column: 3/-1;
    }
  }

  &-pledge-quantity {
    grid-row: 2;
    grid-column: 7;
    @include respond(phone) {
      grid-row: 5;
      grid-column: 2/-1;
    }
    &-number {
      font-weight: var(--fw-bolder);
      font-size: var(--fs-big);
    }

    &-text {
      font-size: var(--fs-small);
      color: var(--dark-gray);
    }
  }

  &-text {
    grid-row: 4;
    grid-column: 4/-2;
    line-height: 2;
    font-size: var(--fs-small);
    color: var(--dark-gray);
    @include respond(phone) {
      line-height: 1.5;
      grid-column: 2/-2;
      text-align: left;
      padding-block: 2rem;
    }
  }

  &-line {
    display: none;
    grid-row: 6;
    grid-column: 1/-1;
    background-color: hsl(0, 0%, 85%);
  }

  &-hidden-area {
    display: none;
    grid-row: 7;
    grid-column: 2/-2;
    padding: 3rem 0 4rem 0;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    span {
      font-size: var(--fs-small);
      color: var(--dark-gray);
      margin-right: auto;
      align-self: center;
      @include respond(phone) {
        margin: 0;
        align-self: center;
      }
    }

    form {
      @include respond(phone) {
      }
      display: flex;
      gap: 1rem;

      div {
        display: flex;
        gap: 0.8rem;
        padding: 1.5rem 2rem;
        background-color: #fff;
        border-radius: 50px;
        border: 1px solid #d9d9d9;
        font-size: var(--fs-very-small);
        position: relative;

        span {
          font-weight: var(--fw-bold);
          color: var(--dark-gray);
          font-size: inherit;
          color: #d9d9d9;
        }

        input {
          align-self: stretch;
          width: 4rem;
          border: none;
          line-height: 1rem;
          font-family: inherit;
          font-weight: var(--fw-bolder);
          font-size: inherit;

          &:focus {
            outline: none;
          }
        }
      }

      button {
        font-family: inherit;
        font-weight: var(--fw-bolder);
      }
    }
  }
}
