.nav {
  @include respond(phone) {
    position: absolute;
    z-index: 99;
    background-color: var(--white);
    left: 10%;
    right: 10%;
    top: 15%;
    border-radius: 8px;
    padding: 2.5rem 0;
    box-shadow: -7px -1px 168px 48px rgba(0, 0, 0, 1);
    opacity: 0;
    visibility: none;
    pointer-events: none;
    transition: all 0.5s;
  }
  &__line {
    background-color: var(--dark-gray);
    &:nth-child(1) {
      grid-row: 2;
    }
    &:nth-child(2) {
      grid-row: 4;
    }
  }
}
.nav__menu {
  display: flex;
  gap: 2rem;
  font-size: var(--fs-tiny);

  &-item {
    color: var(--white);
    padding-left: 1.5rem;
    a {
      color: var(--white);
    }
    @include respond(phone) {
      font-size: var(--fs-big);
      font-weight: var(--fw-bold);

      a {
        color: var(--black);
      }

      &:nth-child(1) {
        grid-row: 1;
      }
      &:nth-child(2) {
        grid-row: 5;
      }
      &:nth-child(3) {
        grid-row: 3;
      }
    }
    @media (min-width: 62.5rem) {
      cursor: pointer;
    }
  }

  @include respond(phone) {
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
  }
}
